@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: url('/star-background.gif') repeat;
  font-family: 'Comic Sans', 'Comic Sans MS', 'Chalkboard', 'ChalkboardSE-Regular', 'Marker Felt', 'Purisa', 'URW Chancery L', cursive;
}

.under-construction {
  @apply mt-20 flex flex-col items-center text-center md:flex-row md:justify-center text-yellow-400;
}

.under-construction h1 {
  @apply text-6xl px-10 pt-10 uppercase;
}

.under-construction img {
  @apply h-24 w-24 mt-6;
}

.content {
  @apply text-center text-yellow-400 max-w-5xl mx-auto;
}

.content h1 {
  @apply text-6xl mt-20 mb-20 uppercase;
}

.marquee {
  @apply mt-10 text-4xl max-w-md mx-auto;
}

.pics {
  @apply flex flex-col items-center lg:flex-row justify-around;
}

.pics img {
  width: 225px;
  height: 225px;
  border: 0.5rem outset hotpink;
  border-radius: 12px;
}

.pic p {
  @apply mb-10 mt-2 text-2xl;
}

.counter p {
  @apply mt-12 mb-2 text-4xl;
}

.counter span {
  @apply bg-white text-black font-mono text-4xl font-bold tracking-wide uppercase inline-block w-48 mb-20;
}